{% extends 'reddit/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- empty -->
            </div>
            <div class="col-md-6">
                <h2>You have been logged out</h2>
                <div class="border-top pt-3">
                    <small class="text-muted">
                       <a href="{% url 'login' %}">LogIn again</a>
                    </small>
                </div>
            </div>
            <div class="col-md-2">
                <!-- empty -->
            </div>
        </div>
    </div>
{% endblock %}